{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Django-Setup</title>
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
<body>
  <div class="form">
     <form method="post">
      <h1>Hello Django From Heroku</h1>
       <div class="form-group">
          <input type="text">
        </div>
       <div class="form-group">
          <input type="text">
       </div>
        <div class="form-group">
          <input type="text">
        </div>
       <div class="form-group">
          <input type="text">
       </div>
      <button type="submit" class="btn btn-primary">Register</button>
     </form>
   </div>
   
</body>
</html>